<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>LyricMesh</title>
</head>
<body>
<div id="container">

  <div id="columns">
    <div id="topbackground">
    </div>
    <div id="main">
      <h2> Browse by Artist </h2>
      <div id="artist">
        <% for a in 'a'..'z' %>
        <a href="../artists?artist=<%= a %>"><%= a.upcase %> </a>
        <% end %>
        <br /><br />
      </div>
    <div id="bottombackground">
      <p>
        All lyrics are property and copyright of their owners. All lyrics provided for educational purposes only.<br />
        If you are the owner of a copyright and would like to have the content removed, please contact dietzl@lyricmesh.com<br />
        Copyright © 2010 Lyricmesh.com
      </p>
    </div>
    </div>
  </div>
</div>
</body>
</html>
