<body> 
<div id="columns">

      <div id="adleft">
        <% render :partial => 'adcode', :locals => {:post => @post} %>
      </div>
  <div id="main">
    <h3>
      Welcome to Lyric Mesh! <br /> Browse or Search for your favorite Artist above
    </h3>
    <div id="bottombackground">
      <p>
        All lyrics are property and copyright of their owners. All lyrics provided for educational purposes only.<br />
        If you are the owner of a copyright and would like to have the content removed, please contact dietzl@lyricmesh.com<br />
        Copyright © 2010 Lyricmesh.com
      </p>
    </div>
  </div>
</div>
</body>
</html>
