<body> 
<div id="columns">
<% content_for :banner do %>
<% end %>

  <div id="adleft">
    <% render :partial => 'adcode', :locals => {:post => @post} %>
  </div>
  <div id="main">
    <div class="genre">
    <div id="mainleft">
    <h3>
    <a href="../genre/show?genre=pop"> Pop </a><br/><br/>
    <a href="../genre/show?genre=hip hop"> Hip Hop </a><br/><br/>
    <a href="../genre/show?genre=indie"> Indie </a><br/><br/>
    <a href="../genre/show?genre=hard rock"> Hard Rock </a><br/><br/>
    <a href="../genre/show?genre=electronic"> Electronic  </a><br/><br/>
    </h3>
    </div>
    <div id="mainmiddle">
    <h2> Browse by Genre </h2>
    <h3>
    <a href="../genre/show?genre=rock"> Rock </a><br/><br/>
    <a href="../genre/show?genre=country"> Country </a><br/><br/>
    <a href="../genre/show?genre=alternative"> Alternative </a><br/><br/>
    <a href="../genre/show?genre=comedy"> Comedy </a><br/><br/>
    <a href="../genre/show?genre=metal"> Metal </a><br/><br/>
    </h3>
    </div>
    <div id="mainright">
    <h3>
    <a href="../genre/show?genre=80S"> 80's </a><br/><br/>
    <a href="../genre/show?genre=swedish"> Swedish </a><br/><br/>
    <a href="../genre/show?genre=rnb"> RNB </a><br/><br/>
    <a href="../genre/show?genre=punk"> Punk </a><br/><br/>
    <a href="../genre/show?genre=female vocalists"> Female Vocalists </a><br/><br/>
    </h3>
    </div>
    <h3> 
    </div>
    <div id="bottombackground">
      <p>
        All lyrics are property and copyright of their owners. All lyrics provided for educational purposes only.<br />
        If you are the owner of a copyright and would like to have the content removed, please contact dietzl@lyricmesh.com<br />
        Copyright © 2010 Lyricmesh.com
      </p>
    </div>
  </div>
</div>
</body>
</html>
