<body>
  <div id="columns">
    <div id="main">
      <h2> Select an Song </h2><br />
      <% previous_song = " " %>
      <% if @songs != nil %>
      <% for song in @songs -%>
        <% if previous_song != song.title %>
           <h3>
             <a href="../songs/<%=h song.id %>"> <%=h song.title %> </a>
           </h3>
         <% end %>
         <% previous_song = song.title %>
      <% end %>
      <% end %>
      <% if @artists != nil %>
      <% for artist in @artists -%>
           <h3>
             <a href="../artists?artist=<%=h artist.name %>"> <%=h artist.name %> </a>
           </h3>
      <% end %>
      <% end %>
      <br /><br />
  <div id="bottombackground">
    <p>
      All lyrics are property and copyright of their owners. All lyrics provided for educational purposes only.<br />
      If you are the owner of a copyright and would like to have the content removed, please contact dietzl@lyricmesh.com<br />
      Copyright © 2010 Lyricmesh.com
    </p>
  </div>
    </div>
  </div>
</div>
</body>
</html>
