/* Global styles */

#container {
	margin: 0px auto;
	text-align: left;
	width: 1050px;
}

h1 {
  font:  250% sans-serif;
  color: #ffffff;
  border-bottom: 3px dotted #77d;
}
h2 {
  color: white;
  font-size: large;
}
h3 {
        color: #fff
}
h4 {
        color: #fff
}
h5 {
        color: #fff
}
p {
  color: #ffffff;
}
body {
  background-color: #2C2774;
  text-align: center;

 }
pre  {
  font-size: medium;
  background-color:   #a68926;
}
a {
  font-size: medium;
}

a:link {
  color: #ffffff; text-decoration: underline; 
}
a:active {
  color: #ffffff; text-decoration: underline; 
}
a:visited {
  color: #ffffff; text-decoration: underline; 
}
a:hover {
  color: #ffffff; text-decoration: underline; 
}
/* Styles for lyrics/index */


/* Styles for main page */

#banner {
  background: #2C2774 ;
  padding-top: 10px;
  text-align: center;
}
#banner img {
  width: 604px;
  margin-left: auto;
  margin-right: auto;
  float: center;
}
#banner a {
  font-weight: bold;
  font-size:large;
}
#columns {
  background: #2C2774;
  text-align: center;
  color: white;
  font-size:15px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}
#columns a {
  font-size: small;
}
#main {
  width: 600px;
  margin-left: auto ;
  margin-right: auto ;
  padding-top: 20px;
  text-align:center;
  border-right: 2px solid;
  border-left: 2px solid;
  border-bottom: 2px solid;
  color: #000 ;
  border-top: 2px solid;
  border-top-color:  #000;
  min-height: 500px;
  background-color: #A68926;
}
#topbackground {
	background: url(../images/topbackgroundmain.png);
	width:      604px;
	height:     30px;
    margin-left:auto;
    margin-right: auto;
	position:   relative;
}
#bottombackground {
	background-color: #A68926;
	width:  600px;
	height: 90px;
    margin-left:auto;
    margin-right: auto;
	clear:  both;
    text-align: center;
    vertical-align: bottom;
}
#bottombackground p{
    clear: both;
    font-size: x-small;
    padding-top: 20px;
    padding-left: 20px;
}
#mainmid {
  width:    600px;
  overflow: wrap;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 550px;
  background-color: #A68926;
  border-right: 2px solid;
  border-left: 2px solid;
  color:    #000;
}
#mainmid p{
  vertical-align:text-bottom;
}

#artist {
  width: 600px;
  padding-top: 5px;
  font-color: blue;
  font-size: 30px;  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #A68926;
}
#artist a {
  color: #ffffff; text-decoration: underline;
  font-size: large;
   
}
#side {
  float:      right; 
  background: #2C2774;
  width:      180px;
  margin-top:10px;
  overflow:   auto;
}
#side a {
  color: white ;
  font-size: xx-large;
}
#side p {
  color: white ;
  font-size: xx-large;
}
#mainleft {
  float: left;
  width: 350px;
  padding-left: 50px;
  
}
#mainright {
  float: right;
  width: 150px;
  padding-right: 50px;
}
#splitmainback {
  height: 100%;
  margin-left: auto;
  margin-right: auto; 
  width: 604px;
}
#mainmiddle {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto; 
  width:      600px;
  text-align: center;
}
#store .entry form, #store .entry form div {
  display: inline;
}
#adleft {
  text-align: left;
  margin-left: 5px;
  margin-right: auto;
  float: left;
  clear: float;
  font-weight: bold;
}
#notice {
  border:  2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font:    bold smaller sans serif;
}

#bannerside {
  float: left;
  text-align: right;
  margin-left: auto;
  margin-right: 7px;
  float: right;
  clear: float;
}

#bannermiddle {
  margin-left: auto;
  margin-right: auto; 
  width: 300px;
  text-align: center;
  margin-bottom: 10px; 
}

#bannerbottom {
  background: #A68926;
  text-align: center;
  height: 135px;
  color: white;
  font-size:13px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-right: 2px solid;
  border-left: 2px solid;
  border-top: 2px solid;
  border-color:      #000 ;
}
#bannerbottom a{
  font-size: 17px;
}
#bannerleftside {
  text-align: left;
  margin-left: 12px;
  margin-right: auto;
  float: left;
  clear: float;
  font-weight: bold;
}



