<body>
  <div id="columns">
    <div id="side">
    </div>
      <div id="adleft">
      </div>
    <div id="main">
      <% previous_title = " " %>
      <h4>
        <%= @songs.lyrics %>
      </h4>
      <br /><br />
      <div id="bottombackground">
      <p>
        All lyrics are property and copyright of their owners. All lyrics provided for educational purposes only.<br />
        If you are the owner of a copyright and would like to have the content removed, please contact dietzl@lyricmesh.com<br />
        Copyright © 2010 Lyricmesh.com
      </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
