<div id="columns">
  <div id="adleft">
    <% render :partial => 'layouts/adcode', :locals => {:post => @post} %>
  </div>
  <div id="main">
    <div id="mainleft">
      <% @count = @artists.count %>
      <% for num in 0..@count/3 -%>
        <h3>
          <%= artist_link(@artists[num]) %>
        </h3>
      <% end %>
    </div>
    <div id="mainmiddle">
      <h2> Select an Artist </h2>
      <% for num in (@count/3)+1..@count*2/3 -%>
        <h3>
          <%= artist_link(@artists[num]) %>
        </h3>
      <% end %>
    </div>
    <div id="mainright">
      <% for num in (@count*2/3)+1..@count-1 -%>
        <h3>
          <%= artist_link(@artists[num]) %>
        </h3>
      <% end %>
    </div><br /><br />
    <%= render :partial => 'layouts/bottombackground', :locals => {:post => @post} %>
  </div>
</div>

